<form method="post" action="{{ base_url }}{{#if snippet }}/edit/{{snippet._id}}{{else}}/add{{/if}}">
    <div class="grid-container">
        <h1 class="text-primary">
            {{#if snippet }}
                Edit Snippet: {{ snippet.title }}
            {{else}}
                Add Snippet{{#if character}} from {{character.name}}{{/if}}
            {{/if}}
        </h1>
        {{#if character }}
            <div class="grid-x grid-margin-x">
                <div class="cell auto">
                    <h3>
                        {{# if character.icon_url }}
                            <img src="{{character.icon_url}}" style="height: 2.5rem" alt="{{character.name}} Icon"/>
                        {{/if}}
                        {{character.name}}
                    </h3>
                </div>
                <div class="cell auto">
                    <button class="set-field-button button primary"
                            data-field="title"
                            data-value="{{character.name}}"
                    >
                        Set Title from Name
                    </button>
                </div>
                <div class="cell auto">
                    <button class="set-field-button button primary"
                            data-field="image_url"
                            data-value="{{character.image_url}}"
                    >
                        Set Image from Image
                    </button>
                </div>
                <div class="cell auto">
                    <button class="set-field-button button primary"
                            data-field="image_url"
                            data-value="{{character.icon_url}}"
                    >
                        Set Image from Icon
                    </button>
                </div>
                <div class="cell auto">
                    <button class="set-field-button button primary"
                            data-field="description"
                            data-value="{{character.description}}"
                    >
                        Set Desc from Desc
                    </button>
                </div>
                <div class="cell auto">
                    <button class="set-field-button button primary"
                            data-field="notes"
                            data-value="{{character.description}}"
                    >
                        Set Notes from Desc
                    </button>
                </div>
            </div>
        {{/if}}
        <div class="grid-x grid-margin-x">
            <div class="cell small-12 medium-4">
                <label>
                    Title
                    <input name="title" type="text" value="{{ snippet.title }}"/>
                </label>
                <label>
                    Image Url
                    <input name="image_url" type="text" value="{{ snippet.image_url }}"/>
                </label>
                <div class="image-upload-container"
                     data-image-upload
                     data-image-upload-source="image"
                     data-image-upload-trigger="image_trigger"
                     data-image-upload-target="[name=image_url]"
                     data-image-upload-clear="image_clear"
                     data-image-upload-url="/image-upload"
                >
                    <label for="image"
                           id="image_trigger"
                           class="button">
                        <i class="far fa-cloud-upload"></i>
                        Upload File
                    </label>
                    <input type="file"
                           id="image"
                           class="show-for-sr"
                    />
                    <button class="button alert" id="image_clear">
                        <i class="far fa-times"></i>
                        Clear Image
                    </button>
                </div>
                <label>
                    Image Position
                    <select name="image_position">
                        <option value="">Full</option>
                        {{options positions selected=snippet.image_position}}
                    </select>
                </label>
                <label>
                    Image Width
                    <input name="image_width" type="text" value="{{ snippet.image_width }}"/>
                </label>
                <label>
                    Text Style
                    <select name="text_style">
                        {{options textStyles selected=snippet.text_style}}
                    </select>
                </label>
            </div>
            <div class="cell small-12 medium-8">
                <label>
                    Description
                    <!--suppress CssOverwrittenProperties -->
                    <textarea class="markdown" name="description"
                              style="height: 32rem; height: calc(15vh + 10.2rem)">
                        {{~ snippet.description ~}}
                    </textarea>
                </label>
                <label>
                    Narrator Notes
                    <!--suppress CssOverwrittenProperties -->
                    <textarea class="markdown" name="notes"
                              style="height: 32rem; height: calc(15vh + 10.2rem)">
                        {{~ snippet.notes ~}}
                    </textarea>
                </label>
            </div>
            <div class="cell small-12 medium-12">
                <label class="text-right">
                    <button class="button primary">
                        {{#if snippet }}
                            Edit Snippet
                        {{else}}
                            Add Snippet
                        {{/if}}
                    </button>
                </label>
            </div>
        </div>
    </div>
</form>
