<div class="grid-container">
    <div class="grid-x grid-x-padding">
        <div class="cell small-12 medium-6">
            <h1 class="text-primary">Temporary Assets <small>{{campaign.title}}</small></h1>
        </div>
        <div class="cell auto">
            <form action="{{ base_url }}/add" method="post">
                <div class="grid-x grid-padding-x">
                    <div class="cell auto">
                        <label>
                            Name
                            <input type="text" name="label"/>
                        </label>
                    </div>
                    <div class="cell shrink">
                        <label>
                            Die
                            <select name="die">
                                {{options diceOptions selected=6}}
                            </select>
                        </label>
                    </div>
                    <div class="cell shrink align-form">
                        <button class="button success">
                            <i class="far fa-plus"></i>
                            Add Asset
                        </button>
                    </div>
                </div>
            </form>
        </div>
    </div>
    <table>
        <thead>
            <tr>
                <th>Label</th>
                <th>Die</th>
                <th>Character</th>
                <th></th>
            </tr>
        </thead>
        <tbody>
            {{#each assets }}
                <tr>
                    <td>
                        <!--suppress HtmlFormInputWithoutLabel -->
                        <input class="submit-on-change"
                               type="text"
                               name="label"
                               data-href="{{ ../base_url }}/edit/{{_id}}"
                               value="{{ label }}" />
                    </td>
                    <td>
                        <!--suppress HtmlFormInputWithoutLabel -->
                        <select
                                class="submit-on-change"
                                name="die"
                                data-href="{{ ../base_url }}/edit/{{_id}}"
                        >
                            {{options ../diceOptions selected=die}}
                        </select>
                    </td>
                    <td>
                        <!--suppress HtmlFormInputWithoutLabel -->
                        <select class="submit-on-change select2"
                                name="characterIds"
                                data-href="{{ ../base_url }}/edit/{{_id}}"
                                multiple
                        >
                            {{options ../characterOptions selected=characterIds}}
                        </select>
                    </td>
                    <td>
                        <form class="inline" action="{{ ../base_url }}/delete/{{_id}}" method="post">
                            <button type="submit" class="button alert small">
                                <i class="far fa-trash"></i>
                                Delete
                            </button>
                        </form>
                    </td>
                </tr>
            {{/each}}
        </tbody>
    </table>
</div>
